<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge 5</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.js" charset="utf-8"></script>
  </head>
    <body>
      <div ng-controller="recordCreate">
      <h1>The Pet-Go-Round</h1>
        <input type="text" name="petNameIn" ng-model="petNameIn" value="" placeholder="Pet Name">
        <input type="text" name="animalTypeIn" ng-model="animalTypeIn" value="" placeholder="Type of Animal">
        <input type="text" name="ageIn" ng-model="ageIn" value="" placeholder="Age">
        <input type="text" name="urlIn" ng-model="urlIn" value="" placeholder="Paste URL here">
        <button type="button" name="submitIn" ng-click="addRecord();">Submit</button>
        <button type="button" name="getAnimal" ng-click="getRecord()">Get Animals</button>
      </div>
    </body>
</html>
